* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: lightblue;
}

.social {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
}

.social > a {
  text-decoration: none;
  color: black;
}
