* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  gap: 1rem;
  justify-content: center;
  overflow: auto;
  padding: 1rem;
}

#message-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  gap: 6px;
}

.self,
.server-message {
  padding: 0.75rem;
  border-radius: 24px;
}

.self {
  background: blue;
  color: white;
  align-self: flex-end;
}

.server {
  align-self: flex-start;
}

.server-message {
  background: lightgray;
}
.name {
  font-size: 0.75rem;
  margin-bottom: 4px;
  color: darkgray;
}

#message-form {
  width: 80vw;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #b4b6b9;
  border-radius: 24px;
}

#message-form:hover,
#message-form:focus-within {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

#message-input {
  width: 80%;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem;
  padding-left: 1rem;
}

#send-button {
  background-color: transparent;
  border: none;
  border-left: 1px solid #b4b6b9;
  border-radius: 24px;
  width: 20%;
  max-width: 100px;
  font-size: 1.2rem;
}

#send-button:hover {
  background: blue;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 2rem;
}

.social > a {
  text-decoration: none;
  color: black;
}
