:root {
  --primary: #ee6055;
  --primary-light: #eb8780;
  --secondary: #ffd046;
  --background: #aafac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  gap: 1rem;
  justify-content: center;
  overflow: auto;
  padding: 1rem;
}

#message-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  gap: 6px;
}

.self,
.server-message {
  padding: 0.75rem;
  border-radius: 24px;
}

.self {
  background: var(--primary);
  color: white;
  align-self: flex-end;
}

.server {
  align-self: flex-start;
}

.server-message {
  background: var(--secondary);
}
.name {
  font-size: 0.75rem;
  margin-bottom: 4px;
  color: darkgray;
}

#room-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  font-size: 1.5rem;
  width: 50%;
}

.roomLink {
  background-color: var(--primary);
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.roomLink:hover {
  background-color: #555;
}

.roomLink:active {
  background-color: black;
}

#message-form,
#room-form {
  width: 80vw;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--primary);
  border-radius: 24px;
}

#message-form:hover,
#room-form:hover,
#message-form:focus-within,
#room-form:focus-within {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

#message-input,
#room-input {
  width: 80%;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem;
  padding-left: 1rem;
}

#send-button,
#room-button {
  background-color: var(--primary-light);
  border: none;
  color: white;
  border-radius: 24px;
  width: 20%;
  max-width: 100px;
  font-size: 1.2rem;
}

#room-button {
  max-width: none;
  width: 50%;
}

#send-button:hover,
#room-button:hover {
  background: var(--primary);
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 2rem;
}

.social > a {
  text-decoration: none;
  color: black;
}
